In [1]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
date_str = "06"
results_JUN = session.query(Measurement.tobs).\
filter(func.strftime("%m", Measurement.date) == date_str).all()

In [5]:
#  3. Convert the June temperatures to a list.
June_temperatures = list(results_JUN)

In [16]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
June_temperatures_df = pd.DataFrame(June_temperatures, columns = ["June Temps"])
June_temperatures_df.head()

   June Temps
0        78.0
1        76.0
2        78.0
3        76.0
4        77.0

In [17]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
June_temperatures_df.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [8]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
date_str = "12"
results_DEC = session.query(Measurement.tobs).\
filter(func.strftime("%m", Measurement.date) == date_str).all()

In [9]:
# 7. Convert the December temperatures to a list.
Dec_temperatures = list(results_DEC)

In [14]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
Dec_temperatures_df = pd.DataFrame(Dec_temperatures, columns = ["December Temps"])
Dec_temperatures_df.head()

   December Temps
0            76.0
1            74.0
2            74.0
3            64.0
4            64.0

In [15]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
Dec_temperatures_df.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000